.cityname {
  font-size: 50px;
  color: rgba(0, 0, 0, 0.603);
  margin-bottom: 0px;
}

.headerbox {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.425);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.headerbox p {
  font-size: 15px;
}

.headerbox h3 {
  color: rgba(0, 0, 0, 0.83);
}

header {
  height:100%;
}

.infooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
}

